<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- Nulis table didalam body -->
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<td>No</td>
					<td>Nama</td>
					<td>Kota</td>
					<td>Harga</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody	id="idTblBarang">
				<tr th:each="item : ${keybarang}">
								<td th:text="${item.namaBarang}">NamaBarang</td>
				</tr>				
			
			</tbody>
		</table>
	</div>

</body>
</html>