<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<br>
<form class="form-horizontal" action="/savebarang" id="idFrmAddBarang" th:object="${barangs}" method="post">
  <div class="form-group">
    <label for="namabarang" class="col-sm-2 control-label">Nama barang</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="namabarang" name="namaBarang"  placeholder="Nama Barang" >
    </div>
  </div>
  <div class="form-group">
    <label for="jenisbarang" class="col-sm-2 control-label">Jenis Barang</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="jenisbarang" name="jenisBarang"  placeholder="Jenis Barang">
    </div>
  </div>
  <div class="form-group">
    <label for="kotapembuat" class="col-sm-2 control-label">Kota Pembuat</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="kotapembuat" name="kotaPembuat" placeholder="Kota Pembuat">
    </div>
  </div>
  <div class="form-group">
    <label for="jmlbarang" class="col-sm-2 control-label">Jumlah Barang</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="jmlbarang" name="jmlBarang" placeholder="Jumlah Barang">
    </div>
  </div>
  <div class="form-group">
    <label for="hargabarang" class="col-sm-2 control-label">Harga Barang</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="hargabarang" name="hargaBarang" placeholder="Harga Barang">
    </div>
  </div>
 
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" id="idBtnSaveBarang">Submit</button>
    </div>
  </div>
</form>

<script type="text/javascript">
	$('#idBtnSaveBarang').click(function(){
		debugger;
		var vDatabarang = $('#idFrmAddBarang').serialize();
		alert(vDatabarang);
		
		$.ajax({
			url:'/savebarang',
			type:'POST',
			data: vDatabarang,
			dataType: "json",
			
			success: function(model){
				debugger;
				if(model.status == "berhasil"){
					alert("Data berhasil disimpan");
					$('#idMdlNewBarang').modal('hide');
					
					/* redirecting to home of barang */
					
				}else{
					alert("Data salah");
					$('#idMdlNewBarang').modal('hide');
				}
			},
			error: function(model){
				debugger;
			}
		});
		
		
	});


</script>

</body>
</html>